.landing-page {
    .referral-form {
        height: 40rem;
        background-color: #F8F4F9;
        border-radius: 16px;
        border: 1px solid;
        padding: 3rem;
        text-align: left;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        & .error {
            font-size: 12px;
            color: $error;
            margin-bottom: 0.5rem;
        }

        & .form-footer {
            color: $secondary-text;
            font-size: 14px;
        }

        h1 {
            font: 45px/72px Caveat Brush;
            margin-top: 0;
            margin-bottom: 1.5rem;
            text-transform: uppercase;
        }

        p {
            font: 16px/26px Noto Sans;
            margin-bottom: 3rem;
            margin-top: 0;
        }

    }

    .main-section {
        background-color: $main-background;
        padding: 4rem 0;

        .wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 15%;
        }

        & .left,
        .right {
            display: flex;
            justify-content: center;
            flex: 1 0 42.5%;
            flex-direction: column;
        }

        form {
            display: flex;
            flex-direction: column;

            & .img-wrp {
                position: relative;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate(1.25rem, 20px);
                }
            }

            input {
                &[type=text] {
                    padding-left: 3.5rem;
                }
            }
        }

        .referral-link {
            position: relative;
            margin-top: 4rem;

            input {
                width: 100%;
                &[readonly] {
                    padding-left: 1rem;
                }
            }

            button {
                position: absolute;
                right: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                padding: 1rem 1.5rem;
                margin-top: 0;
            }
        }
    }
}