.landing-page {

    .referral-form {
        height: 40rem;
        background-color: #F8F4F9;
        border-radius: 16px;
        border: 1px solid;
        padding: 3rem;
        text-align: left;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        & .form-footer {
            color: $secondary-text;
            font-size: 16px;
        }

        h1 {
            font: 45px/72px Caveat Brush;
            margin-top: 0;
            margin-bottom: 1.5rem;
            text-transform: uppercase;
        }

        p {
            font: 16px/26px Noto Sans;
            margin-bottom: 3rem;
            margin-top: 0;
        }

        form {
            display: flex;
            flex-direction: column;

            & .img-wrp {
                position: relative;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate(1.25rem, 18px);
                }
            }

            input {
                padding: 1rem 0;
                border: 1px solid $base-border;
                border-radius: 8px;
                outline: $base-border;

                &::placeholder, &[type=text] {
                    font-size: 16px;
                    color: $secondary-text;
                }

                &[type=text] {
                    padding-left: 3.5rem;
                }
            }
        }
    }

    .main-section {
        background-color: $main-background;
        padding: 4rem 0;

        .wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 15%;
        }

        & .left,
        .right {
            display: flex;
            justify-content: center;
            flex: 1 0 42.5%;
            flex-direction: column;
        }
    }
}