$main-background: #F8CC5D;
$secondary-background: #45565E;
$third-background: #F8F4F9;

$base-text: #1F343E;
$secondary-text: #6D7A80;
$base-border: $base-text;

$link-hover: #4EB3E3;
$error: #ED6F82;