@import '../styles/variables';
@import '../styles/landing-page';

html,
body {
  padding: 0;
  margin: 0;
  color: $base-text;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $link-hover;
  }
}

* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

header {
  background-color: #FFFF;
  border-bottom: 1px solid $base-border;
}

main {
  min-height: calc(100vh - 25rem);
}

footer {
  background-color: $third-background;

  &.footer {
    padding: 4rem 0;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.footer-info,
.footer-links,
.footer-contact {
  display: flex;
  flex-direction: column;
}

.footer-copyright {
  color: $secondary-text;
}

.footer-copyright-mobile {
  display: none;
  color: $secondary-text;
}

.footer-info {
  flex: 0 0 50%;
  justify-content: space-between;
}

.footer-title {
  margin-top: 0;
  font: normal normal bold 20px/24px Noto Sans;
  text-transform: uppercase;
}

.footer-contact-link {
  padding-top: 0.75rem;

  span {
    padding-left: 1rem;
  }
}

.footer-links {
  // flex: 0 0 auto;
  ul {
    padding-left: 0;
    margin-top: 0;

    & li {
      list-style: none;
      padding: 0.75rem 0;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

.footer-contact {
  display: flex;
  flex-direction: column;
  // flex: 0 0 auto;
}

.footer-social {
  margin-bottom: 1rem;
}

.footer-contact-social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  padding: 0 2rem;
  max-width: 70rem;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;

  & .nav-list {
    list-style: none;
    display: flex;

    & .nav-item {
      padding: 0 2rem;
      font-size: 20px;

      &:last-child {
        padding-right: 0;
      }
    }

    @media(max-width: 1081px) {
      display: none;
    }
  }
}

.menu-active {
  display: block;
  position: absolute;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid $base-border;

  ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0;

    li {
      padding: 1rem 0;
    }
  }
}

.menu-disabled {
  display: none;
}

.btn-primary {
  padding: 1rem 0;
  border-radius: 8px;
  border: 1px solid $base-border;
  color: white;
  margin-top: 1rem;
  font-size: 1rem;
  background-color: $btn-primary;
  outline: $base-border;
  cursor: pointer;
  transition: transform ease-in-out .2s;

  &:hover {
    transform: scale(1.01);
  }
}

.social-button {
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid $base-border;
  background-color: $btn-primary;
  padding: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}

input {
  padding: 1rem 0;
  border: 1px solid $base-border;
  border-radius: 0.5rem;
  outline: $base-border;

  &::placeholder,
  &[type=text] {
    font-size: 1rem;
    color: $secondary-text;
  }
}

.hamburger {
  @media(min-width: 1082px) {
    display: none;
  }
}

@media(max-width: 1081px) {
  .container {
    padding: 0 1rem;
  }

  .nav {
    height: 3.25rem;
  }

  footer {
    &.footer {
      padding: 2rem 0;
    }
  }

}
@media(max-width: 760px) {
  .footer-info, .footer-links, .footer-contact {
    flex-basis: 100%;
  }

  .footer-copyright {
    display: none;
  }

  .footer-copyright-mobile {
    display: block;
  }

  .footer-title {
    font: normal normal bold 16px/24px Noto Sans;
  }
}
@media(max-width: 688px) {
  .store-block {
    flex-basis: 100%;
  }
}