@import '../styles/variables';
@import '../styles/landing-page';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  color: $base-text;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $link-hover;
  }
}

* {
  box-sizing: border-box;
}

header {
  background-color: #FFFF;
  border-bottom: 1px solid $base-border;
}

main {
  min-height: calc(100vh - 25rem);
}

footer {
  background-color: $third-background;
  height: 20rem;
}

.container {
  padding: 0 2rem;
  max-width: 70rem;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;

  & .nav-list {
    list-style: none;
    display: flex;

    & .nav-item {
      padding: 0 2rem;
      font-size: 20px;

      &:last-child {
        padding-right: 0;
      }
    }

    @media(max-width: 1120px) {
      display: none;
    }
  }
}

.menu-active {
  display: block;
  position: absolute;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid $base-border;

  ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0;

    li {
      padding: 1rem 0;
    }
  }
}

.menu-disabled {
  display: none;
}

.btn-primary {
  padding: 1rem 0;
  border-radius: 8px;
  border: 1px solid $base-border;
  color: white;
  margin-top: 1rem;
  font-size: 16px;
  background-color: $btn-primary;
  outline: $base-border;
  cursor: pointer;
  transition: transform ease-in-out .2s;

  &:hover {
    transform: scale(1.01);
  }
}

form {
  display: flex;
  flex-direction: column;

  & .img-wrp {
      position: relative;

      img {
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(1.25rem, 18px);
      }
  }

  input {
      padding: 1rem 0;
      border: 1px solid $base-border;
      border-radius: 8px;
      outline: $base-border;

      &::placeholder, &[type=text] {
          font-size: 16px;
          color: $secondary-text;
      }

      &[type=text] {
          padding-left: 3.5rem;
      }
  }
}

.hamburger {
  @media(min-width: 1120px) {
    display: none;
  }
}